<div class="header">
  <div class="video">
    <video class="landing-page-video noselect" id="video" [muted]='true' loop autoplay #videoplayer playsinline
      disableRemotePlayback width="100%">
      <source src="./assets/video/CHAKRI+BHAGYA.webm" type="video/mp4">
      Your browser does not support HTML5 video.
    </video>
  </div>
  <div class="video-overlay"></div>
  <div class="names-heading">
    <h2 animateOnScroll animationName="animated fadeIn">Chakri & Bhagya</h2>
    <h4 animateOnScroll animationName="animated fadeIn">WE'RE GETTING MARRIED</h4>
  </div>
  <div class="save-the-date popup-save-the-date">
    <h4>Save the date</h4>
    <p class="date">27-MAY-2021</p>
  </div>
</div>
<section class="about-each-other padding-40">
  <div class="container">
    <div class="groom-section">
      <div class="row">
        <div class="col-md-6">
          <div class="groom-image hide-on-init" animateOnScroll animationName="animated animate__fadeInLeft">
            <img src="./assets/images/groom.png">
         <!--    <div class="img-3d-layer">
              <img src="./assets/images/groom-3dlayer.png">
            </div> -->
          </div>
        </div>
        <div class="col-md-6">
          <div class="about-wrapper hide-on-init" animateOnScroll animationName="animated animate__fadeInRight">
            <h4>The Groom</h4>
            <p>Chakravarthi (Chakri) was born in Palem and spent much of his life and educations over there itself, moved to Ahmedabad, started carrier as a Developer and worked with prestigious projects and got international level recognition. His work is known for blurring the line between UI and has been selected for most reputed company like HCL, L&T Technologies.</p>
            <span class="signature">Chakri</span>
          </div>
        </div>
      </div>
    </div>
    <div class="bride-section">
      <div class="row">
        <div class="col-md-6">
          <div class="about-wrapper hide-on-init" animateOnScroll animationName="animated animate__fadeInLeft">
            <h4>The Bride</h4>
            <p>Bhagya grew up in the Hyderbad, completed all her education in Hyderabad itself. She studied at Chatnaya College and completed her graduation in Computer science. Today, she works as an developer in HCL company.</p>
            <span class="signature">Bhagya</span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="bride-image hide-on-init" animateOnScroll animationName="animated animate__fadeInRight">
            <img src="./assets/images/bride.png">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="count-down-section">
  <div class="video-overlay"></div>
  <div class="container">
    <div class="row">
      <div class=" col-md-4 col-xs-12">
        <h2><span>We are waiting for.....</span> The adventure</h2>
      </div>
      <div class=" col-md-7 col-md-offset-1 col-xs-12">
        <div class="count-down-clock">
          <div id="clock">
            <div class="box hide-on-init delay1" animateOnScroll animationName="animated animate__fadeInUp">
              <div id="days">{{seconds}}</div> <span>Days</span>
            </div>
            <div class="box hide-on-init delay2"  animateOnScroll animationName="animated animate__fadeInUp">
              <div id="hours">{{hours}}</div> <span>Hours</span>
            </div>
            <div class="box hide-on-init delay3"  animateOnScroll animationName="animated animate__fadeInUp">
              <div id="minutes">{{minutes}}</div> <span>Mins</span>
            </div>
            <div class="box hide-on-init delay4"  animateOnScroll animationName="animated animate__fadeInUp">
              <div id="seconds">{{seconds}}</div> <span>Secs</span>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- end row -->
  </div>
</section>
<section class="our-love-stroy-section story-section">
  <div class="container">
    <div class="col col-xs-12">
      <div class="section-title">
        <div class="vertical-line"><span><i class="fi flaticon-two"></i></span></div>
        <h2>Our love story</h2>
      </div>
    </div>
    <div class="col col-xs-12">
      <div class="story-timeline">
        <div class="row">
          <div class="col-12 col-md-6">
            <div class="story-text right-align-text hide-on-init" animateOnScroll animationName="animated animate__fadeInLeft">
              <h3>First meet</h3>
              <span class="date">April 02 2017</span>
              <p>Its a memorable experience that I won’t forget in my entire life, I saw her walking in saree and I felt like an angel came to earth and greeted me, when the moment she passed me I feel lighter and bloomed with her fragrance around me, when the moment I saw her in her deep eyes I seen my entire life living with her. </p>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="img-holder hide-on-init" animateOnScroll animationName="animated animate__fadeInRight">
              <img src="./assets/images/story1.png" alt="" class="img img-responsive">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col col-md-6">
            <div class="img-holder hide-on-init" animateOnScroll animationName="animated animate__fadeInLeft">
              <img src="./assets/images/story2.png" alt="" class="img img-responsive">
            </div>
          </div>
          <div class="col-12 col-md-6 text-holder">
            <span class="heart">
              <i class="fa fa-heart"><img src="./assets/icons/love.svg"></i>
            </span>
            <div class="story-text hide-on-init" animateOnScroll animationName="animated animate__fadeInRight">
              <h3>First date</h3>
              <span class="date">August 14 2018</span>
              <p>That was my first cup of coffee where my soul enjoyed the flavour, our thoughts blend like a perfect expresso. It was one of the most memorable day and just to have 30mins with her I travelled for 30 Hrs, after seeing her I haven’t feel any jetlag, I never experienced time running that fast while talking with her. </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6 text-holder right-heart">
            <span class="heart">
              <i class="fa fa-heart"><img src="./assets/icons/love.svg"></i>
            </span>
            <div class="story-text right-align-text hide-on-init" animateOnScroll animationName="animated animate__fadeInLeft">
              <h3>Proposal</h3>
              <span class="date">Apr 14 2017</span>
              <p>I asked?..She said Yes
                She always fills happiness around me, I always wanted to replicate the same to her, I proposed her in the presence of five basic elements (Pancha Bhootas) taking an oath of protecting her till the end of my life, she never asked me to do something for her, the only thing she asked me is to be with her rest of my life and I promised her that I will and she accepte </p>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="img-holder hide-on-init" animateOnScroll animationName="animated animate__fadeInRight">
              <img src="./assets/images/story3.png" alt="" class="img img-responsive">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6">
            <div class="img-holder hide-on-init" animateOnScroll animationName="animated animate__fadeInLeft">
              <img src="./assets/images/story4.jpg" alt="" class="img img-responsive">
            </div>
          </div>
          <div class="col-12 col-md-6 text-holder">
            <span class="heart">
              <i class="fa fa-heart"><img src="./assets/icons/love.svg"></i>
            </span>
            <div class="story-text hide-on-init" animateOnScroll animationName="animated animate__fadeInRight">
              <h3>Enagagement</h3>
              <span class="date">Jul 14 2017</span>
              <p>“We loved with a love that was more than a love” we chose each other for hundred lifetimes and we are together now with limitless love and affection, no matter what’s happening around us we both are together until our final destiny. If my life is an exam this is the moment where I passed. U made my life bright and colourful. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="celebrating-love">
  <div class="video-overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col col-xs-12">
        <h2><span>We are going to...</span> Celebrate Our Love</h2>
      </div>
    </div>
  </div>
</section>
<section class="gallery-section">
  <div class="">
    <div class="section-title">
      <div class="vertical-line"><span><i class="fi flaticon-two"></i></span></div>
      <h2>Our gallery</h2>
    </div>
    <div class="gallery-wrapper">
      <div class="gallery-filters">
<!--         <ul>
            <li><a data-filter="*" href="#" class="">All</a></li>
            <li><a data-filter=".wedding" href="#" class="current">Wedding</a></li>
            <li><a data-filter=".ceremony" href="#" class="">Ceremony</a></li>
            <li><a data-filter=".party" href="#" class="">Party</a></li>
        </ul> -->
    </div>
    <div class="image-gallery" id="photos" >
        <div class="img-block" *ngFor="let image of imageGallry; let i = index">
            <img [id]="'img-'+ i" *ngIf="image.type == 'pre-wedding'" [src]='image.src' class="hide-on-init" lightbox animateOnScroll animationName="animated animate__fadeIn" [style.animation-delay]="i">
            <iframe *ngIf="image.type == 'shoot'" class="hide-on-init" [style.height.px]="height" lightbox animateOnScroll animationName="animated animate__fadeIn" src="https://www.youtube.com/embed/iqh3gIL0uDo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="celebrating-love">
  <div class="video-overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col col-xs-12">
        <h2><span>And So...</span> The Advanture Begins</h2>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="">
    <div class="section-title">
      <div class="vertical-line"><span><i class="fi flaticon-two"></i></span></div>
      <h2>Location</h2>
    </div>
    <div class="map-wrapper">
      <div class="get-directions" (click)="myNavFunc()">Get Directions</div>
    <div id="map"></div>
    </div>

  </div>
</section>
<section class="footer celebrating-love">
  <div class="video-overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col col-xs-12">
        <h2>Forever and always</h2>
        <h2>Our love</h2>
        <span class="by">-Chakri (The groom)</span>
      </div>
    </div>
  </div>
</section>